<div class="row">
    <div class="col-xl-12">
        <h1>Pax Registration</h1>
        <p>In this section you can register your patients. When you're ready please click submit, then you can calculate your rooms</p>
    </div>

</div>
    <form>
        <div style="margin-bottom: 2%" class="form-group">
            <h2>Add patient</h2>
            <div class="row" id="principal">
                <div class="col-xl-3">
                    <label for="">Name</label>
                    <input name="name" class="form-control" type="text" [(ngModel)]="patientName" required>
                </div>
                <div class="col-xl-3">
                    <label for="">Surname</label>
                    <input name="surname" class="form-control"type="text" [(ngModel)]="patientSurname">
                </div>
                <div class="col-xl-3">
                    <label for="">Activity</label>
                    <!-- <input class="form-control" type="text" [(ngModel)]="newPatient[i].activity"> -->
                    <select name="activity" class="form-control" [(ngModel)]="patientActivity">
                        <option *ngFor="let activity of activities" [ngValue]="activity.activity" >
                        {{ activity.activity }}
                        </option>
                    </select>
                </div>
                <div class="col-xl-2">
                    <label for="">Duration <i>(min.)</i></label>
                    <input class="form-control" type="number" [(ngModel)]="patientDuration" name="duration">
                </div>
                <div class="col-xl-1 d-flex align-items-center">
                    <button 
                        (click)="addPendingPax()" 
                        class="btn btn-primary"
                        [disabled]="!patientName 
                                    || !patientSurname 
                                    || !patientActivity 
                                    || !patientDuration"
                        >
                        +
                    </button>
                </div>
            </div>
            <hr>
        </div>
        <div *ngIf="newPatient.length > 0">
            <h2>Pending Patients</h2>
            <table *ngIf="newPatient.length > 0" class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Surname</th>
                        <th scope="col">Activity</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Op.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pat of newPatient; index as i">
                        <td>{{pat.name}}</td>
                        <td>{{pat.surname}}</td>
                        <td>{{pat.activity}}</td>
                        <td>{{pat.duration}}</td>
                        <td>
                            <mat-icon appMouseHover (click)="deletePendPax(i)">delete</mat-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr>
        <button (click)="postPatients()" class="btn btn-success" style="height: 100%;" type="submit" [disabled]="newPatient.length == 0">Submit</button>   
    </form>

    <hr>
    <div class="row">
        <div class="col-xl-1">
            <button class="btn btn-primary" routerLink="../pax-in-room" routerLinkActive="active">Create Rooms</button>
        </div>
    </div>
    
     <hr>

     <ngb-accordion type="light">
        <ngb-panel title="Patient List" type="light" >
            <ng-template ngbPanelContent>
                <form>
                    <div class="form-group form-inline">
                        Search Patient: <input class="form-control ml-2" type="text" [formControl]="filter"/>
                    </div>
                </form>

                <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Surname</th>
                    <th scope="col">Activity</th>
                    <th scope="col">Duration</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let patient of patients$ | async; index as i">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>
                        <ngb-highlight [result]="patient.name" [term]="filter.value"></ngb-highlight>
                    </td>
                    <td>
                        <ngb-highlight [result]="patient.surname" [term]="filter.value"></ngb-highlight>
                    </td>
                    <td>
                        <ngb-highlight [result]="patient.activity" [term]="filter.value" style="text-transform: capitalize;"></ngb-highlight>
                    </td>
                    <td>
                        <ngb-highlight [result]="patient.duration | number" [term]="filter.value"></ngb-highlight>
                </tr>
                </tbody>
                </table>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>