    <h1>Daily activity <br>{{today | date: 'dd/MM/yyyy' }}</h1>
    <span>
        In this section you can calculate the number of rooms needed for daily activity<br>
        There are currently <b>{{patients.length}}</b> patients waiting to be placed
        <br>
        The patient with the most necessary activity needs {{maxDuration}} minutes<br>
        So 
        <br>
        <ng-container *ngFor="let first of firstPatients; index as i">
            <b>Room {{i+1}} </b>
            <span>will be occupied by </span> 
            <b>{{first.name}} {{first.surname}}</b><br>
        </ng-container>
    </span>

    <br>
    
    <!-- Loader nell'attesa che si carichino tutti i dati importati -->
    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
        <p style="color: white">Please Wait. </p>  
    </ngx-spinner> 
    
    <button (click)="fillRooms()" class="btn btn-primary">Calculate</button>
    <br><br>
    <h2 *ngIf="roomsProgressValue.length != 0" style="padding-left: 2%">Total rooms: {{rooms.length}}</h2>
    <hr>
    <!-- STAMPO STANZE -->
    <app-room 
        [rooms]="rooms" 
        [roomsProgressValue]="roomsProgressValue"
        [totDuration]="totDuration"
        [maxDuration]="maxDuration"
        >
    </app-room>
