
<div class="row" *ngIf="roomsProgressValue.length != 0">
    <div class="col-xl-12" *ngFor="let room of rooms; index as j;">
        <div class="card">
            <ngb-accordion type="light" >
                <ngb-panel title="{{room.name}} ({{rooms[j].patients.length}} pax)" type="light">
                    <ng-template ngbPanelContent>
                        <div class="card-body" style="padding: 0.35rem">
                            <div class="row">
                                <div class="col-xl-2" style="align-self: center; text-align: center;">
                                    <div *ngIf="rooms[j].patients.length <= 1">
                                        <h3><b>Patient:</b> {{rooms[j].patients.length}} / {{rooms[j].patients.length}}</h3>
                                        <mat-icon>accessibility_new</mat-icon>
                                    </div>
                                    <div *ngIf="rooms[j].patients.length > 1">
                                        <h3><b>Patients:</b> {{rooms[j].patients.length}} / {{rooms[j].patients.length}}</h3>
                                        <mat-icon *ngFor="let icons of rooms[j].patients">accessibility_new</mat-icon>
                                    </div>
                                </div>
                                <div class="col-xl-9" style="align-self: center; text-align: center">
                                    <p>
                                        <ngb-progressbar *ngIf="roomsProgressValue[j] < 50" type="danger" [value]="roomsProgressValue[j] | number"></ngb-progressbar>
                                        <ngb-progressbar *ngIf="roomsProgressValue[j] >= 50 && roomsProgressValue[j] <=90" type="warning" [value]="roomsProgressValue[j] | number"></ngb-progressbar>
                                        <ngb-progressbar *ngIf="roomsProgressValue[j] > 90" type="success" [value]="roomsProgressValue[j] | number"></ngb-progressbar>
                                    </p>
                                    <span style="font-size: 0.55rem; color: mediumblue">{{roomsProgressValue[j] | number}} %</span><br>
                                    <span style="font-size: 0.55rem; color: mediumblue">{{totDuration[j]}} of {{maxDuration}} minutes</span><br>
                                    <button class="btn btn-success" (click)="open(content, j)">Show room details</button>
                                </div>
                                <div class="col-xl-1" style="align-self: center; text-align: center">
                                    <h5 *ngIf="totDuration.length > 1"><b>Tot</b> <br><mat-icon>timer</mat-icon><br> {{totDuration[j]}} min.</h5>
                                </div>
                            </div>
                            <br>
                        </div>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div><br>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Activity Details</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xl-6">
                <ul *ngFor="let patient of rooms[indexForModal].patients; index as x">
                    <li>
                        <b>{{patient.name}} {{patient.surname}}</b>
                        <br><b>Activity: </b> <span style="text-transform: capitalize;">{{patient.activity}} </span>
                        <br><b>Duration: </b> {{patient.duration}} min 
                    </li>
                    
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div style="text-align:center">
                    <apx-chart
                      [series]="chartOptions.series"
                      [chart]="chartOptions.chart"
                      [labels]="chartOptions.labels"
                      [responsive]="chartOptions.responsive"
                    ></apx-chart>
                  </div>

            </div>
        </div>
            
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
    </div>
  </ng-template>
  
  
  
  <hr>
  