<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="../dashboard" routerLinkActive="active">Dashboard<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="../pax-registration" routerLinkActive="active">Daily Program</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <!-- Testi esplicativi per ciascun criterio di ricerca -->
  <div class="row">
    <div class="col-xl-12 title">
      <h2>{{explanation[0].title}}</h2>
    </div>
    <div class="col-xl-12" style="text-align: center">
        <h3>{{explanation[0].content}}</h3>
    </div>
  </div>
  <!-- Loader nell'attesa che si carichino tutti i dati importati -->
  <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: white">Please Wait. </p>  
  </ngx-spinner> 
  <div class="row custom-row">
    <div class="col-md-3"><button class="btn btn-primary" (click)="setActivityRange(PATIENTS.length, 'all', 0)">Show All</button></div>
    <div class="col-md-3"><button class="btn btn-success" (click)="setActivityRange(PATIENTS.length, 'moderate', 150)">Moderate</button></div>
    <div class="col-md-3"><button class="btn btn-danger" (click)="setActivityRange(PATIENTS.length, 'vigorous', 75)">Vigorous</button></div>
    <div class="col-md-3"><button class="btn btn-warning" (click)="setActivityRange(PATIENTS.length, 'mixable', 0)">Mix</button></div>
  </div>

  <form>
    <div class="form-group form-inline">
        Search: <input class="form-control ml-2" type="text" [formControl]="filter"/>
    </div>
  </form>
  <div class="card custom-card">
    <table class="table table-striped" id="dashTable">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Patient</th>
        <th scope="col">Birth Date</th>
        <th scope="col">Age</th>
        <th scope="col">Activities</th>
      </tr>
      </thead>
      <tbody>
        <!-- Una riga per ciascun paziente -->
        <ng-container *ngFor="let patient of patients$ | async; index as i">
          <!-- Condizione per mostrare correttamente rispettando i criteri dell'indagine -->
          <tr 
            *ngIf="patient.age >= 20 && patient.age <= 40 
                  && (patient.status == 'moderate' 
                  || patient.status == 'all' 
                  || patient.status == 'vigorous' 
                  || patient.status == 'mixable')" 
            class="customTableRow"
          >
            <td style="color: red"><b>{{i+1}}</b></td>
            <td>
              <div class="row">
                <div class="col-md-9">
                  <ngb-highlight [result]="patient.name" [term]="filter.value"></ngb-highlight>
                </div>
                <div class="col-md-3">
                  <!-- Tooltip attivabile tramite mousehover per vedere dettagli del paziente -->
                  <ng-template #tipContent>
                    Gender: <b style="text-transform: capitalize;">{{patient.gender}}</b><br>
                    Height: <b>{{patient.heightCm}} cm</b><br>
                    Weight: <b>{{patient.weightKg}} kg</b><br>
                    BMI: <b>{{patient.bmi}}</b><br>
                  </ng-template>
                  <mat-icon appMouseHover [ngbTooltip]="tipContent">info</mat-icon>
                </div>
              </div>
            </td>
            <td><ngb-highlight [result]="patient.birthDate | date: 'dd/MM/yyyy'" [term]="filter.value"></ngb-highlight></td>
            <td><ngb-highlight [result]="patient.age | number" [term]="filter.value"></ngb-highlight></td>
            <td>
              <!-- Ciclo le attività per ciascun paziente -->
              <ng-container *ngFor="let activities of PATIENTS[i].activities; index as z">
                <div style="width: 100%;">
                  <span>
                    <ngb-highlight [result]="activities.activity" [term]="filter.value" style="text-transform: capitalize;"></ngb-highlight>
                  </span>
                  <i> {{activities.minutes}} min. | </i>
                  <b>Intensity: </b><span style="text-transform: capitalize; font-weight: 500;">{{activities.intensity}}</span>
                </div>
                <br>
              </ng-container>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>


