.title {
    text-align: center;
}

.isHidden {
    display: none;
} 

.show {
    display: block;
}

td {
    vertical-align: middle !important;
}

.custom-card {
    border-radius: 15px;
    box-shadow: 2px 3px #dedede;
    margin-bottom: 5%
}

.custom-row {
    text-align: center; margin-top: 3%; margin-bottom: 3%;
}

@media only screen and (max-width: 767px) {
    .col-md-3 {
        width: 25%;
    }

    .col-md-6 {
        width: 50%;
    }
  }