<div class="row">
    <h1>Health Alert</h1>
    <div class="col-xl-12" style="text-align: center; margin-top: 5%;">
        <button class="btn btn-success" routerLink="../dashboard" routerLinkActive="active" style="width: 20%;">Start</button>
    </div>
    <!-- Animazione landing page -->
    <div class="heartbeatloader">
        <svg class="svgdraw" width="100%" height="100%" viewBox="0 0 150 400" xmlns="http://www.w3.org/2000/svg" >
            <path class="path" d="M 0 200 l 40 0 l 5 -40 l 5 40 l 10 0 l 5 15 l 10 -140 l 10 220 l 5 -95 l 10 0 l 5 20 l 5 -20 l 30 0" fill="transparent" stroke-width="4" stroke="black"/>
        </svg>
        <div class="innercircle"></div>
        <div class="outercircle"></div>
    </div>
</div>